<!-- <app-header></app-header> -->


<!-- ******************************************************************
                     Start Banner Main 
****************************************************************** -->
<section class="home_banner_area">
    <div class="container box_1620">
        <div class="banner_inner d-flex align-items-center">
            <div class="banner_content">
                <div class="media">
                    <div class="d-flex">
                        <img src="assets/img/yoMain.png" alt="">
                    </div>
                    <div class="media-body">
                        <div class="personal_text">
                            <h6>Bienvenid@s a mi Web!! Me llamo</h6>
                            <h3>Roberto Sánchez</h3>
                            <h4>Desarrollador de negocio digital</h4>
                            <h4>Desarrollador junior de software</h4>
                            <p>Actualmente estoy en búsqueda activa de empleo. Un tiempo en el cual las situación es un reto, una de las cosas que puedo hacer es luchar por una oportunidad con las herramientas y habilidades que tengo y que voy adquiriendo.
                            </p>
                            <ul class="list basic_info">
                                <li><a><i class="lnr lnr-calendar-full"></i> 22 Noviembre, 1990</a></li>
                                <li><a><i class="lnr lnr-phone-handset"></i>666 89 83 41</a></li>
                                <li><a><i class="lnr lnr-envelope"></i>rober.sanchez.figueroa@gmail.com</a></li>
                                <li><a><i class="lnr lnr-home"></i>Vigo - Galicia - España</a></li>
                                <li> <a class="main_btn " target="_blank" href="https://drive.google.com/file/d/1CvUJveBXUjVCmheSo-h0fC60K5Zfjxyx/view?usp=sharing">CV</a>
                                </li>
                            </ul>
                            <ul class="list personal_social">
                                <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
                                <li>
                                    <a target="blanck" href="https://www.linkedin.com/in/roberto-sanchez-figueroa"><i class=" fa fa-linkedin "></i></a>
                                </li>
                                <li>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ******************************************************************
                        End Banner Main 
****************************************************************** -->



<!-- ******************************************************************
                     Start About Myself 
****************************************************************** -->
<section class="welcome_area p_120 ">
    <div class="container ">
        <div class="row welcome_inner ">
            <div class="col-lg-6 ">
                <div class="welcome_text ">
                    <h4>Sobre mí</h4>
                    <p>El conocerse a sí mismo es el primer paso para poder aprender cada día!! Construye la filosofía, induce la actitud ,elige las acciones y los resultados vendrán solos :) </p>
                    <div class="row ">
                        <div class="col-md-4 ">
                            <div class="wel_item ">
                                <i class="lnr lnr-leaf "></i>
                                <h4>Natura</h4>
                                <p></p>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="wel_item ">
                                <i class="lnr lnr-heart"></i>
                                <h4>Deporte</h4>
                                <p></p>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="wel_item ">
                                <i class="lnr lnr-smile "></i>
                                <h4>Vibes</h4>
                                <p></p>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="wel_item ">
                                <i class="lnr lnr-briefcase "></i>
                                <h4>Work</h4>
                                <p></p>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="wel_item ">
                                <i class="lnr lnr-music-note "></i>
                                <h4>Música</h4>
                                <p></p>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="wel_item ">
                                <i class="lnr lnr-book "></i>
                                <h4>Libros</h4>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 ">
                <h4>Fortalezas</h4>
                <div class="tools_expert ">
                    <div class="skill_main ">
                        <div class="skill_item ">
                            <h4>Comunicador <span class="counter ">85</span>%</h4>
                            <div class="progress_br ">
                                <div class="progress">
                                    <div class="progress-bar " role="progressbar " style="width: 85%" aria-valuenow="85" aria-valuemin="0 " aria-valuemax="100 "></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill_item ">
                            <h4>Proactivo <span class="counter ">90</span>%</h4>
                            <div class="progress_br ">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill_item ">
                            <h4>Exigente <span class="counter ">100</span>%</h4>
                            <div class="progress_br ">
                                <div class="progress ">
                                    <div class="progress-bar " role="progressbar " style="width: 100%" aria-valuenow="70 " aria-valuemin="0 " aria-valuemax="100 "></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill_item ">
                            <h4>Open Minded <span class="counter ">95</span>%</h4>
                            <div class="progress_br ">
                                <div class="progress ">
                                    <div class="progress-bar " role="progressbar " style="width: 95%" aria-valuenow="95 " aria-valuemin="0 " aria-valuemax="100 "></div>
                                </div>
                            </div>
                        </div><br>
                        <h4>Debilidades</h4><br>
                        <div class="skill_item ">
                            <h4>Exigente <span class="counter ">80</span>%</h4>
                            <div class="progress_br ">
                                <div class="progress ">
                                    <div class="progress-bar " style="width: 80%" role="progressbar " aria-valuenow="95 " aria-valuemin="0 " aria-valuemax="100 "></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill_item ">
                            <h4>Crítico <span class="counter ">60</span>%</h4>
                            <div class="progress_br ">
                                <div class="progress ">
                                    <div class="progress-bar " role="progressbar " style="width: 60%" aria-valuenow="95 " aria-valuemin="0 " aria-valuemax="100 "></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill_item ">
                            <h4>Mejorar Idiomas <span class="counter ">70</span>%</h4>
                            <div class="progress_br ">
                                <div class="progress ">
                                    <div class="progress-bar " role="progressbar " style="width: 70%" aria-valuenow="95 " aria-valuemin="0 " aria-valuemax="100 "></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ******************************************************************
                     End About Myself 
****************************************************************** -->


<!-- ******************************************************************
                    Start Timeline 
****************************************************************** -->
<section class="mytabs_area p_120 ">
    <div class="container ">
        <div class="tabs_inner ">
            <ul class="nav nav-tabs " id="myTab " role="tablist ">
                <li class="nav-item ">
                    <a (click)="selectedwallet = '1'" class="nav-link " id="home-tab " data-toggle="tab " role="tab " aria-controls="home " aria-selected="true ">Experiencias Relevantes</a>
                </li>
                <li class="nav-item ">
                    <a (click)="selectedwallet = '2'" class="nav-link " id="profile-tab " data-toggle="tab " role="tab " aria-controls="profile " aria-selected="false ">Educación Relevante</a>
                </li>
                <li class="nav-item ">
                    <a (click)="selectedwallet = '3'" class="nav-link " id="profile-tab " data-toggle="tab " role="tab " aria-controls="profile " aria-selected="false ">Conóce mi historia</a>
                </li>
                <li> <a class="main_btn " target="_blank" href="https://drive.google.com/file/d/1CvUJveBXUjVCmheSo-h0fC60K5Zfjxyx/view?usp=sharing">CV</a>

            </ul>
            <div *ngIf="selectedwallet === '1'" class="tab-content " id="myTabContent ">
                <div class="tab-pane fade show active " id="Experiencias" role="tabpanel " aria-labelledby="home-tab ">
                    <ul class="list ">
                        <li>
                            <span></span>
                            <div class="media">
                                <div class="d-flex ">
                                    <p> Septiembre 2020 Actualidad</p>
                                </div>
                                <div class="media-body ">
                                    <h4>Software Contable</h4>
                                    <p>Cai Sistemas Informáticos <br />Vigo, Galicia</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span></span>
                            <div class="media ">
                                <div class="d-flex ">
                                    <p>Enero 2020 a Julio 2020</p>
                                </div>
                                <div class="media-body ">
                                    <h4>Software GRC</h4>
                                    <p>Junio Web Developer <br />Vigo, Galicia</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span></span>
                            <div class="media ">
                                <div class="d-flex ">
                                    <p>Agosto 2019 a Julio 2020</p>
                                </div>
                                <div class="media-body ">
                                    <h4>Jugador Profesional de balonmano/ Máster Uvigo</h4>
                                    <p>Jugador y estudiante <br />Vigo, Galicia</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span></span>
                            <div class="media ">
                                <div class="d-flex ">
                                    <p>Agosto 2019 a Julio 2020</p>
                                </div>
                                <div class="media-body ">
                                    <h4>Jugador Profesional de balonmano</h4>
                                    <p>Jugador ASOBAL(1ª División) <br />Aranda de duero, Burgos</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div *ngIf="selectedwallet === '2'" class="tab-content " id="myTabContent ">
                <div class="tab-pane fade show active " id="Experiencias" role="tabpanel " aria-labelledby="home-tab ">
                    <!-- Tab de education -->
                    <div *ngIf="selectedwallet === '2'" class="tab-content " id="myTabContent ">
                        <div class="tab-pane fade show active" id="profile " role="tabpanel " aria-labelledby="profile-tab ">
                            <ul class="list ">
                                <li>
                                    <span></span>
                                    <div class="media ">
                                        <div class="d-flex ">
                                            <p>Junio 2020 - Actualidad</p>
                                        </div>
                                        <div class="media-body ">
                                            <h4>otras formaciones</h4>
                                            <p>Dirección de poyectos tecnológicos</p>
                                            <p>Metodologías ágiles</p>
                                            <p>Metodologías ágiles</p>
                                            <p>Facilitación digital y más</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <span></span>
                                    <div class="media ">
                                        <div class="d-flex ">
                                            <p>Sept 2019 a Junio 2020</p>
                                        </div>
                                        <div class="media-body ">
                                            <h4>Postgrado Uvigo</h4>
                                            <p>Postgrado en desarrollo de software y negocio digital <br />Vigo, Galicia</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <span></span>
                                    <div class="media ">
                                        <div class="d-flex ">
                                            <p>Septiembre 2010 a 2018</p>
                                        </div>
                                        <div class="media-body ">
                                            <h4>Grado Uvigo</h4>
                                            <p>Administración y dirección de empresas <br />Vigo, Galicia</p>
                                            <p>Si te ha llamado la atención, sigue navengando ;)</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedwallet === '3'" class="tab-content " id="myTabContent ">
                <div class="tab-pane fade show active " id="Experiencias" role="tabpanel " aria-labelledby="home-tab ">
                    <!-- Tab de education -->
                    <div class="tab-content " id="myTabContent ">
                        <div class="tab-pane fade show active" id="profile " role="tabpanel " aria-labelledby="profile-tab ">
                            <p class="pWhite">Hola! Antes de empezar me gustaría decirte que es un placer que estés leyendo mas sobre mí.</p>

                            <p class="pWhite ">Durante muchos años he sido jugador profesional de balonmano, llegando a jugar en la máxima categoría de balonmano español, teniendo el placer de ser capitán de un equipo profesional.</p>

                            <p class="pWhite ">Todos estos años he estado compaginando el deporte de alto rendimiento con la formación académica, habiendo finalizado un Grado en ADE y un Postgrado en desarrollo de software y negocio digital, entre otras formaciones adicionales.
                                Llegando incluso a compartir mi tiempo con prácticas en empresa, postgrado y entrenamientos.</p>

                            <p class="pWhite ">Por desgracia, el deporte de alto rendimiento tiene una fecha de caducidad, y yo, estoy próximo a ella.
                            </p>

                            <p class="pWhite ">Por lo que estoy en la búsqueda de una salida laboral que me permita desarrollar todas las habilidades que podido aprender en el deporte hasta ahora. Trabajo en equipo, motivación, creatividad, poder ayudar a los demás desde
                                la humildad... Habilidades que hacen que cada día sea diferente y motivador.</p>

                            <p class="pWhite ">Me gustaría desarrollar estas habilidades con aquellos que apuesten y confíen en mi para crecer juntos, aportando una visión conjunta de administración, ventas, comunicación, lógica de negocio y también programación en proyectos
                                TIC.
                            </p>
                            <p class="pWhite ">Como podéis comprobar, siempre he demostrado un alto sacrificio y compromiso en todo aquello que comienzo. La búsqueda por crecer marca mi camino. Moviéndome siempre entre actividades tanto creativas y flexibles como metodológicas,
                                que exigían un alto grado de agilidad.</p>
                            <p class="pWhite ">Ante cualquier circunstancia, no dudéis en poneros en contacto conmigo, por teléfono, email o a través de linkedin.</p>
                            <p class="pWhite ">Muchas gracias por prestarme vuestra atención</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ******************************************************************
                     End Timeline 
****************************************************************** -->


<!-- ******************************************************************
                    start Qué ofrezco  
****************************************************************** -->
<section class="feature_area p_120 ">
    <div class="container ">
        <div class="main_title ">
            <h2>Qué puedo ofrecer?</h2>
            <p>Habilidades tales como trabajo en equipo, motivación, creatividad, poder ayudar a los demás desde la humildad... </p><hr>
            <p>Visión conjunta de administración, ventas, comunicación, lógica de negocio y también programación en los proyectos TIC</p>
        </div>
        <div class="feature_inner row ">
            <div class="col-lg-4 col-md-6 ">
                <div class="feature_item ">
                    <i class="flaticon-city "></i>
                    <h4>Lógica de negocio</h4>
                    <p>La formación en software y administración de empresas me ha ayudado a aumentar la capacidad de codificar las reglas del mundo real. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="feature_item ">
                    <i class="flaticon-skyline "></i>
                    <h4>Soft Skills</h4>
                    <p>Buscador de buen ambiente, trabajo en equipo y honestidad me convierten en un amante de las relaciones interpesonales. Fundamentales en el mundo en el que vivimos. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="feature_item ">
                    <i class="flaticon-sketch "></i>
                    <h4>Software</h4>
                    <p>Con un perfil Junior pero con una curva de aprendizaje rápida puedo llegar a propocionar apoyo técnico suficiente en muchos proyectos.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ******************************************************************
                     end Qué ofrezco  
****************************************************************** -->



<!-- ******************************************************************
                        start fotos 
****************************************************************** -->

<section class="home_gallery_area p_120 ">
    <div class="container ">
        <div class="main_title ">
            <h2>Fotos de proyectos</h2>
        </div>
    </div>
    <div class="container ">
        <div class="gallery_f_inner row imageGallery1 ">
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print ">
                <div class="h_gallery_item ">
                    <div class="g_img_item ">
                        <img class="img-fluid " src="./assets/img/gallery/bm1.jpg " alt=" ">
                        <a class="light " href="./assets/img/gallery/bm1.jpg "><img src="./assets/img/gallery/icon.png " alt=" "></a>
                    </div>
                    <div class="g_item_text ">
                        <h4>Esfuerzo</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul creative ">
                <div class="h_gallery_item ">
                    <div class="g_img_item ">
                        <img class="img-fluid " src="./assets/img/gallery/bm2.jpg " alt=" ">
                        <a class="light " href="./assets/img/gallery/bm2.jpg"><img src="./assets/img/gallery/icon.png " alt=" "></a>
                    </div>
                    <div class="g_item_text ">
                        <h4>Diálogo</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 manipul creative design print ">
                <div class="h_gallery_item ">
                    <div class="g_img_item ">
                        <img class="img-fluid " src="./assets/img/gallery/bm3.jpg " alt=" ">
                        <a class="light " href="./assets/img/gallery/bm3.jpg "><img src="./assets/img/gallery/icon.png " alt=" "></a>
                    </div>
                    <div class="g_item_text ">
                        <h4>Equipo</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="more_btn ">
            <a class="main_btn " target="blanck" href="https://www.instagram.com/rober_bicho15/?hl=es">Load More Items</a>
        </div>
    </div>
</section>

<!-- ******************************************************************
                         end fotos 
****************************************************************** -->


<!-- ******************************************************************
                         Testimonios 
****************************************************************** -->

<!-- <section class="testimonials_area p_120 ">
    <div class="container ">
        <div class="main_title ">
            <h2>Referencias</h2>
            <p>Conocerse a uno mismo está muy bien...Pero y...Que piensan los demás?</p>
        </div>
        <div class="testi_inner ">
            <owl-carousel-o class="testi_slider" [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="item ">
                        <div class="testi_item ">
                            <p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel across her face</p>
                            <h4>Fanny Spencer</h4>
                            <a href="# "><i class="fa fa-star "></i></a>
                            <a href="# "><i class="fa fa-star "></i></a>
                            <a href="# "><i class="fa fa-star "></i></a>
                            <a href="# "><i class="fa fa-star "></i></a>
                            <a href="# "><i class="fa fa-star-half-o "></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item ">
                        <div class="testi_item ">
                            <p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel across her face</p>
                            <h4>Fanny Spencer</h4>
                            <a href="# "><i class="fa fa-star "></i></a>
                            <a href="# "><i class="fa fa-star "></i></a>
                            <a href="# "><i class="fa fa-star "></i></a>
                            <a href="# "><i class="fa fa-star "></i></a>
                            <a href="# "><i class="fa fa-star-half-o "></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item ">
                        <div class="testi_item ">
                            <p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel across her face</p>
                            <h4>Fanny Spencer</h4>
                            <a href="# "><i class="fa fa-star "></i></a>
                            <a href="# "><i class="fa fa-star "></i></a>
                            <a href="# "><i class="fa fa-star "></i></a>
                            <a href="# "><i class="fa fa-star "></i></a>
                            <a href="# "><i class="fa fa-star-half-o "></i></a>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</section> -->

<app-footer></app-footer>
