/*font Variables*/

$rob: 'Roboto',
sans-serif;
$hee: 'Heebo',
sans-serif;

/*Color Variables*/

$baseColor: #766dff;
$dip: #222222;
$pfont: #777777;

/*=================== fonts ====================*/

@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,700,900|Roboto:300,400,500,700');
// Mixins
@mixin transition($property: all,
$duration: 300ms,
$animate: linear,
$delay:0s) {
    transition: $property $duration $animate $delay;
}

// Placeholder Mixins
@mixin placeholder {
    &.placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &::-webkit-input-placeholder {
        @content;
    }
}

.nav-link {
    cursor: pointer;
}

.pWhite {
    color: white;
}


/* Testimonials Area css
============================================================================================ */

.testimonials_area {
    background: #f9f9ff;
    &.testi_two {
        background: #fff;
        .testi_inner {
            margin-top: -20px;
            margin-bottom: -20px;
        }
        .owl-item {
            padding: 20px 0px;
        }
        .testi_item {
            background: #f9f9ff;
            border-color: #f9f9ff;
            @include transition;
            &:hover {
                background: #fff;
                border-color: #fff;
                box-shadow: 0px 10px 30px 0px rgba(153, 153, 153, 0.1);
            }
        }
    }
}

.testi_inner {
    .col-lg-3 {
        vertical-align: middle;
        align-self: center;
    }
}

.test_title {
    h2 {
        color: $dip;
        font-size: 36px;
        font-family: $rob;
        font-weight: bold;
        margin-bottom: 12px;
    }
    p {
        margin-bottom: 0px;
    }
}

.testi_item {
    border: 1px solid #eeeeee;
    border-radius: 10px;
    background: #fff;
    padding: 40px 28px;
    p {
        font-style: italic;
    }
    h4 {
        color: $dip;
        font-size: 18px;
        text-transform: uppercase;
    }
    a {
        color: #ffc000;
    }
}


/* End Testimonials Area css
============================================================================================ */

.tools_expert {
    padding: 20px 0px 0px 0px;
}

.tools_expert .skill_main .skill_item {
    margin-bottom: 18px;
}

.tools_expert .skill_main .skill_item:last-child {
    margin-bottom: 0px;
}

.tools_expert .skill_main .skill_item h4 {
    text-align: none;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #222222;
    margin-bottom: 15px;
}

.tools_expert .skill_main .skill_item .progress_br {
    border: 1px solid #e7d8d8;
    padding: 5px;
    border-radius: 10px;
}

.tools_expert .skill_main .skill_item .progress {
    height: 10px;
    border-radius: 10px;
    background: #e7d8d8;
}

.tools_expert .skill_main .skill_item .progress .progress-bar {
    transition: width .6s ease;
    height: 10px;
    border-radius: 5px;
    vertical-align: middle;
    align-self: center;
    background-image: linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
}